  <div id="smoke"></div>
  <div id="lrform">
    <p id="reason">You need to login or register to continue.</p>
    <div id="lrwrapper">
      <form id="login" action="">
        Login:<br>
        <label for="login-user-input">Username:</label>
        <input id="login-user-input" type="text" name="user">
        <label for="login-pw-input">Password:</label>
        <input id="login-pw-input" type="password" name="password">
        <input id="login-submit" type="submit" name="password" value="Submit">
      </form>
      <form id="register" action="/register">
        Register:<br>
        <label for="reg-user-input">Username:</label>
        <input id="reg-user-input" type="text" name="user">
        <label for="reg-pw-input">Password:</label>
        <input id="reg-pw-input" type="password" name="password">
        <label for="reg-pw2-input">Password again:</label>
        <input id="reg-pw2-input" type="password" name="password2">
        <input id="reg-submit" type="submit" value="Submit">
      </form>
    </div>
    <a id="lrform-close">Close this window.</a>
  </div>
