/*
 * edit page styling
 */
#editpage {
  height: 100%;
}

.floating {
  position: fixed;
  z-index: 1010;
}

.picto {
  font-family: 'EntypoRegular';
  font-size: 15pt;
  color: #AAA;
}

/* equal height edit and content */
.block-outer {
  display: table;
}

.block-edit {
  font-family: 'EntypoRegular';
  font-size: 15pt;
  color: #AAA;
  display: table-cell;
  width: 14px;
  cursor: pointer;
  padding-left: 2px;
}

.block-content {
  display: table-cell;
  padding-left: 2.5em;
}

#wrapper {
  height: 100%;
}

#switch {
  width: 14px;
  height: 100%;
  cursor: pointer;
  padding-top: 6px;
  padding-left: 2px;
}

#panel {
  height: 20px;
  padding: 6px 4px 4px;
  right: 10%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: super;
}

/* both main div are fixed fullscreen size div */
#editdiv, #renderdiv {
  position: fixed;
  width: 100%;
  height: 100%;
  /* here's a problem that width in fact is 100%+8px padding, there's a overflow */
}

/* renderdiv has a higher z to show above */
#editdiv {
  z-index: 1001;
}
#renderdiv {
  z-index: 1002;
  left: -102%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
}

#renderwrap {
  padding-left: 16px;
  max-width: 720px;
  /* simple fluid hack */
}

/* render presentation */
.block-content {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #444;
}

.block-content h1,
.block-content h2,
.block-content h3,
.block-content h4,
.block-content h5,
.block-content h6 {
  font-family: Georgia, Times, serif;
  color: #111;
}

.block-content pre,
.block-content code {
  font-family: Consolas, Monaco, monospace;
}
.block-content pre {
  padding-left: 2em;
}

.block-content a {
    color: #0099ff;
    vertical-align: baseline;
}


.CodeMirror {
  /*TODO IE only can use monospace or unicode text will lift the line.*/
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  line-height: 1.3em;
  height: 100%;
}

.CodeMirror-scroll{
  /*let the page be fully scrolled*/
  overflow-x: hidden;
  height: 100%;
}

.CodeMirror-gutter-text {
  /* add left padding for switch*/
  padding-left: 16px;
}

/*
 * login/register form
 */
#lrform {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 12px 32px;
  margin-top: -180px;
  margin-left: -280px;
  border: 1px #aaa solid;
  z-index: 1020;
  color: #aaa;
}

#lrwrapper {
  display: table;
  color: black;
}

#lrform input,
#lrform label {
  margin-bottom: 8px;
}
#lrform a {
  text-decoration: underline;
  cursor: pointer;
}

#login, #register {
  display: table-cell;
  width: 200px;
}
#login {
  padding-right: 32px;
}
#register {
  padding-left: 32px;
  border-left: 1px #aaa solid;
}
#smoke {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7; 
  z-index: 1019;
}
